br {
    color: red;
  }
  img[src*="#s"] {
    width: 300px;
  }
  img[src*="#l"] {
    width: 500px;
  }
  img[src*="#xl"] {
    width: 600px;
  }
  img[src*="#xxl"] {
    width: 700px;
  }
  
  img[src*="#w50"] {
    width: 50%;
  }
  img[src*="#w100"] {
    width: 100%;
  }
  
  @media screen and (max-width: 600px) {
    img {
      width: 100%!important;
    }
  }
  
  @media screen and (min-width: 600px) {
    img {
      width: 400px;
    }
  }
  
  img[alt="18-14"]{
    width: 250px;
  }
  img[alt="18-15"]{
    width: 200px;
  }
  
  img[alt="18-16"]{
    width: 100px;
  }
  
  img[alt="18-17"]{
    width: 300px;
  }
  
  
  // body{
  //   zoom:0.8;
  // }
  