
  .sidebar{
    font-size: 14px;
    .sidebar-links {
      li{
        a{
          line-height: 1.2!important;
        }
        &:not(:first-child){
          margin-top: 0;
        }
      }
    }
  }